<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="./static/style.css" />

    <title>Weather API</title>
  </head>
  <body>
    <h1 class="display-1">Weather APP</h1>
    <p class="logout-button"><a href="/logout">Logout</a></p>
    <!-- <div><pre>{{pretty}}</pre></div> -->
    <div>
      <table class="table table-bordered table-striped">
        <thead class="table-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Temperature</th>
            <th scope="col">Description</th>
          </tr>
        </thead>

        <tbody>
          {% for data in weather_data: %}

          <tr>
            <td>{{data["id"]}}</td>
            <td>{{data["name"]}}</td>
            <td>{{data["temp"]}} C</td>
            <td>{{data["description"]}}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
